@import "partials/settings";
@import 'foundation/components/grid';
@import 'foundation/components/buttons';
@import 'foundation/components/dropdown';
@import 'foundation/components/top-bar';
@import 'foundation/components/visibility';
@import 'foundation/components/side-nav';
@import 'foundation/components/accordion';


body{
  background: white;
}

.main-header{
  background: blue;
}
.content{
  background: brown;
}
.page-wrap{
  width: 75%;
}

.sideBar{
  background: #F0F0F0;
  width: 25%;
}
#sideBar:target{
  width: 25%;
}
#sideBar:target + .page-wrap{
  width:75%;
}
#footer{
  background: #86A0B1;
}
// Filter Bar
#filter-bar{
  padding-top: 30px;
  background: #86A0B1;
}
.jobCat{
  text-align: center;
}

* {
  box-sizing: border-box;
}

#apply{
  margin-top: 16px;
}
#map-container{
  background: white;
  height: 850px;
}
.jobTitle{
  background: gray;
  padding-left: 5px;
}
#mapSelector{
  background: #86A0B1;
}
#filter-bar{
  background: #86A0B1;
}
.jobDetails{
  background: #C0C0C0;
}