@import "partials/settings";
@import 'foundation/components/grid';
@import 'foundation/components/buttons';
@import 'foundation/components/dropdown';
@import 'foundation/components/top-bar';
@import 'foundation/components/visibility';
@import 'foundation/components/side-nav';
@import 'foundation/components/accordion';


body{
  background: white;
}

body::after {
  content: "";
  background: url(http://images.all-free-download.com/images/graphiclarge/ocean_waves_207578.jpg);
  background-size: cover;
  opacity: 0.5;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}

.main-header{
  background: blue;
}
.content{
  background: brown;
}
.main-nav{
  position: fixed;
  top: 0;
  width: 0;
  height: 100%;
  background: #3BAF58;
  overflow-y: auto;
  transition: width 0.3s ease;

  a {
    display: block;
    background: linear-gradient(#3E3E3E, #383838);
    border-top: 1px solid #484848;
    border-bottom: 1px solid #2E2E2E;
    color: white;
    text-decoration: none;
    padding: 15px;
    &:hover, &:focus {
      background: linear-gradient(#484848, #383838);
    }
  }
  &:after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 34px;
    background: linear-gradient(left, rgba(black, 0), rgba(black, 0.4));
  }
  p {
    display: block;
    background: linear-gradient(#3E3E3E, #A4A4A4);
    border-top: 1px solid #484848;
    border-bottom: 1px solid #2E2E2E;
    color: white;
    text-decoration: none;
    padding: 15px;
  }
}
.close-menu {
  display: none;
}
.page-wrap {
  float: right;
  width: 100%;
  transition: width 0.3s ease;
  height: 100%;
}
#main-nav:target {
  width: 25%;
}
#main-nav:target + .page-wrap {
  width: 75%;
  .open-menu {
     display: none;
  }
  .close-menu {
     display: block;
  }
  .page-wrap {
    width: 75%;
    left: 25%;
  }
}
#jobDetails{
  display: none;
    p {
    display: block;
    background: red;
    border-top: 1px solid #484848;
    border-bottom: 1px solid #2E2E2E;
    color: white;
    text-decoration: none;
    padding: 15px;
    margin-bottom: -17px;
    }
    button{
      background: orange;
    }
}
#jobDetails:target{
  display: block;

}
.ui-autocomplete {
  max-height: 100px;
  overflow-y: auto;
  /* prevent horizontal scrollbar */
  overflow-x: hidden;
}
  /* IE 6 doesn't support max-height
   * we use height instead, but this forces the menu to always be this tall
   */
* html .ui-autocomplete {
  height: 100px;
}
#footer{
  background: #86A0B1;
}
// Filter Bar
#filter-bar{
  padding-top: 30px;
  background: #86A0B1;
}
.jobCat{
  text-align: center;
}

* {
  box-sizing: border-box;
}

#apply{
  margin-top: 16px;
}
#map-container{
  background: white;
  height: 850px;
}