
doctype html
html
  head
    link(rel="stylesheet", href="/css/styles.css")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0-alpha1/jquery.min.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.9/d3.min.js")
    meta(charset="UTF-8")
    include ../html/header.html
    script(src="/js/jquery.js")
    script(src="/js/d3.js")
  body
    block content

    .sideBar#sideBar.left
      .jobContainer

    .page-wrap.right
      //- filter bar
      .row#mapSelector
        .large-4.columns
          .search
        .large-4.columns
          .jobCatSearchOptions
          .housingSearchOptions
          .rentalSearchOptions
        .large-4.columns
          .citySelect

      .row#filter-bar
        .large-4.columns
            .jobCats
        .large-4.columns
          .jobTitles
          .accounting
          .healthcare
          .nonprofit
          .admin
          .computer
        .large-4.columns.searchButton
          .buttonSearch

       .row
        .large-12.columns#map-container
          include ../partials/Blank_US_Map.svg
          //- include ../partials/map-fills.jade

      //- footer
      footer.row
        .large-12.columns#footer
          hr

          .row
            .large-6.columns
              p &copy; Copyright no one at all. Go to town.

            //- .large-6.columns
            //-   ul.inline-list.right
            //-     a(href='#') Link 1

            //-     a(href='#') Link 2

            //-     a(href='#') Link 3

            //-     a(href='#') Link 4

    //- script(src='//code.jquery.com/jquery-1.10.2.js')
    script(src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.8/d3.min.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/bluebird/3.0.5/bluebird.js")
    script(src="/js/modernizr.js")
    script(src="/js/foundation.min.js")
    script(src='//code.jquery.com/ui/1.11.4/jquery-ui.js')
    script(src="/js/sideBar/jobListData.js")
    script(src="/js/sideBar/displayJobList.js")

    script(src="/js/dropDown/citySelect.js")
    script(src="/js/dropDown/dropDown.js")
    script(src="/js/dropDown/filterBarDropDown.js")
    script(src="/js/dropDown/jobCategory.js")
    script(src="/js/dropDown/jobTitles.js")

    script(src="/routes/index.js")

    script(src="/js/map-fill.js")
    script(src="/js/autocomplete/autoComplete.js")

    script(src="/js/dropDown/jobTitleBreakdown/accounting.js")
    script(src="/js/dropDown/jobTitleBreakdown/healthcare.js")
    script(src="/js/dropDown/jobTitleBreakdown/nonprofit.js")
    script(src="/js/dropDown/jobTitleBreakdown/admin.js")
    script(src="/js/dropDown/jobTitleBreakdown/computer.js")

    script.
      $(document).foundation();
      $(document).tooltip();

